@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

/* ---------------------------------Special paddings/margins/text */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }

li {
    list-style: none;
  }

  :root {
    --primary-clr: #FFEAE6;
    --background-clr: #fefefe;
    --background-clr-b: #4d4c4b;
    --background-clr-c:#efe3d6;
    --background-clr-d:#212529;


    /* background: linear-gradient(180deg, hsla(31, 51%, 92%, 1) 30%, hsla(26, 31%, 84%, 1) 100%);
    background: linear-gradient(180deg, hsla(31, 44%, 89%, 1) 20%, hsla(26, 31%, 84%, 1) 100%); */
    /* background-color: #F2E9DE; */
    /* background-color: #f4eadf;  */


    --secondary-clr: #232949;

    --txt-clr-1: #212529;
    --txt-clr-2:#F2E9DE;
    --txt-clr-: #191919;
    --txt-clr-3:#232949;
    --txt-clr-4:#fefefe;
    --txt-clr-5:#eee;

    --bg-clr: ;
    --accent-clr: ;

    --container-width:90%;

    --ff-1: Merriweather, sans-serif;
    --ff-2: 'Lato', sans-serif;

  /* font families */
  --ff-base: "IBM Plex Sans", sans-serif;
  --ff-accent: "Young Serif", serif;

    --fw-l: 300;
    --fw-n: 400;
    --fw-m: 500;
    --fw-sb: 600;
    --fw-b: 700;
    --fw-xb: 800;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.3rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-p: 1.5rem;

    --shadow: ;
    --box-shadow-1: 1.5rem 1.5rem 1rem rgba(0, 0, 0, .9);
    --box-shadow-2: 2.5rem 2.5rem 1rem rgba(0, 0, 0, .9);
    --box-shadow-3: 0 5px 35px rgba(0,0,0,0.15);
    --br-1: 25px;
    --br-2: 25%;

    --lh-1: 1.5rem;
    --lh-2: 2rem;
    --line-height-3: 5rem;
}

html {
    scroll-behavior: smooth;
    /* font-size: 10px; */

    font-size: 62.5%;
    /* This % changes the normal base size of 16px to 10px --- 21px = 2.1rem (because 21 x 10 = 2.1rem */
}

body {

    /* height: calc(100vh - 80px);
    min-height: 100vh;
    background-color: #fefefe;
    background: var(--clr-bg);
    background-color: #9096a4; */

    letter-spacing: 1.25px;
    text-align: center;
    /* max-width: 1400px;  */
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

p {
    letter-spacing: 1.25px;
    line-height: 3rem;
    text-align: center;
    /* font-size: clamp(200px, 50%, 20rem);
    font-size: clamp(2rem, 5vw, 5rem);
    font-size: clamp(1rem, 1.25vw, 1.255rem); */
}

/* --------------------------------- Normal Styles */

/* ----- Fixed Top Navbar Section ----- */

.topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.container-top {
    background-color: var(--background-clr-b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.top-bar_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.top-bar_content i {
    display: flex;
    flex-direction: row;
    font-size: 1.75em;
    align-items: center;
    color: var(--txt-clr-2);
    margin: auto;
    padding-top: 15px;
}

.top-bar_content p {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-6);
    font-family: var(--ff-1);
    /* font-family: 'Lato', sans-serif; */
    color: var(--txt-clr-2);
    align-items: center;
    justify-content: center;
    /* font-size: 14px; */
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top:5px;
}

/* ----- Logo Section ----- */

.navbar {
    background-color: var(--background-clr-b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    z-index: 1000;
}

.cont-nav {
    background-color: var(--background-clr-c);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    z-index: 1000;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 24px;
    margin-left: 20px;
}

.titleName {
    font-family: var(--ff-1);
    font-size: var(--fs-3);
    font-weight: var(--fw-xb);
    color: var(--txt-clr-3);
    max-width: 200px;
    font-style: italic;
    text-align: center;
    margin-top: -20px;
}

/* ----- Toggle Btn Section ----- */

.navbar-toggler {
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 35px;
    border: 2px solid #212529;
    box-shadow: 5px 5px #3e8e41;
    max-width: 8em;
    margin: 3em;
}

.navbar-toggler i {
    width: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    color: #212529;
    cursor: pointer;
}

/* ----- Navbar Section ----- */

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* padding: 10px 20px 30px 25px;  */
    padding: 0;
    /* justify-content: space-between;  */
    align-items: center;
    transition: all .5s ease-out;
    line-height: 24px;
    z-index: 1000;
    margin: 0px;
    /* height: 8rem; */
    min-height: 8rem;
    justify-content: space-evenly;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
}

ul.nav-list li {
    line-height: 3rem;
    position: relative;
    width: 100%;
    word-spacing: 1.6px;
}

.navbar-nav .active .nav-link,
.nav-list a {
    color: var(--txt-clr-3);
    font-family: var(--ff-1);
    display: block;
    padding: 0 .4rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 650ms ease;
}

.nav-list .active:hover {
    color: var(--txt-clr-4);
}

.nav-list a:hover {
    background-color: var(--background-clr-b);
    color: var(--txt-clr-4);
    border-radius: 10px;
    background-color: #87e4f6;
}

.nav-list a:hover > ion-icon {
    background-color: var(--background-clr-b);
    color: var(--txt-clr-4);
    border-radius: 10px;
}

/* ----- Navbar Button Section ----- */

li.btn a {
    display: inline-block;
    align-items: center;
    transition: background-color 650ms;
    padding: .5rem;
}

.btn:hover {
    background-color: var(--background-clr-c);
    border-radius: 25px;
}

/* ----- Sub-Menus Section ----- */

.sub-menu li {
    line-height: 3rem;
    padding-left: 10px;
}

.sub-menu {
    width: 23.5rem;
    display: block;
    position: absolute;
    border-top: 3px solid #191919;
    background: linear-gradient(45deg, #93938B, #E4E7E4);
    z-index: 1000;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 2.5em;
}

.sub-menu .subMenu {
    width: 23.5rem;
    display: block;
    position: absolute;
    /* border-top: 3px solid #191919; */
    background: linear-gradient(45deg, #93938B, #E4E7E4);
    z-index: 1000;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.sub-menu .subMenu-menu {
    width: 25rem;
    display: block;
    position: absolute;
    border-top: 3px solid #191919;
    background: linear-gradient(45deg, #93938B, #E4E7E4);
    z-index: 1000;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -170px;
    margin-left: 20px;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 9.55rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #f60b0b;
}

.sub-menu .subMenu-menu::before {
    content: "";
    position: absolute;
    top: 3.4rem;
    left: -2.75rem;
    border: 1.2rem solid transparent;
    border-right-color: #0bbff6;
}

.sub-menu {
    border-left: none;
    border-top: 4px solid #191919;
    border-radius:20px;
}

.sub-menu .subMenu {
    border-top: none;
    border-left: 4px solid #191919;
    /* left: 160%;  */
    left: 22.5rem;
    border-radius:20px;
}

.sub-menu .subMenu-menu {
    border-top: none;
    border-left: 4px solid #191919;
    /* left: 160%; */
    left: 22.5rem;
    border-radius:20px;
}

.nav-list li:hover > .sub-menu {
    top: 4rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .sub-menu {
    top: 6rem;
    left: 100%;
}

.sub-menu li:hover > .subMenu {
    top: 4rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .subMenu-menu {
    top: 6rem;
    left: 100%;
}

/* ----- Arrow Icon Section ----- */

.arrow ion-icon {
    color: var(--txt-clr-3);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow ion-icon:hover {
    color: var(--txt-clr-4);
}

.arrow-forward ion-icon,
.arrow-forward-b ion-icon,
.arrow-c ion-icon {
    color: var(--txt-clr-3);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
    color: #3e8e41;
}

.arrow-forward ion-icon
:hover > .sub-menu, .subMenu, .subMenu-menu {
    color: var(--txt-clr-4);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}

.arrow-forward-b ion-icon
:hover > .subMenu, .subMenu-menu {
    color: var(--txt-clr-2);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}

.arrow-c ion-icon
:hover > .sub-menu, .subMenu-menu {
    color: var(--txt-clr-2);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    cursor: pointer;
    z-index: 1000;
}

.sub-menu:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

.sub-menub.sub-menu-a:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

.subMenu:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

.subMenu-menu:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

li.move-right {
    /* line-height: 1em; */
    line-height: initial;
    font-size: 2rem;
    font-weight: 900;
}

li.move-right i {
    line-height: initial;
    /* font-size: 2rem; */
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}


/* ----- End Navbar Section ----- */


/* ----- Media Queries Navbar Section ----- */

@media (min-width: 375px) {

    .topNav {
        max-width: 100%;
        align-items: center;
        position: relative;
    }

    .top-bar_content {
        width: 100%;
        margin-bottom: 15px;
    }

    .top-bar_content i {
        width: 100%;
        justify-content: center;
        font-size: 2em;
    }

    .top-bar_content p {
        display: none;
    }

    .cont-nav {
        padding: 5px;
        background-color: #f48888;
    }

    .navbar-brand {
        margin-top: 0px;
        margin-left: 0px;
        padding-top: 0px;
    }

    .titleName {
        font-size: 1.7rem;
        color: var(--txt-clr-3);
    }

    .navbar-toggler {
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        margin-top: 5px;
        border: 2px solid #212529;
        box-shadow: 3px 3px #3e8e41;
        max-width: 3.5em;
    }

    .navbar-toggler i {
        font-size: 2rem;
        font-weight: 600;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
    }

    .navbar-nav .active .nav-link,
    .nav-list a {
        padding: 0px;
        font-size: 14px;
        text-transform: none;
    }

    .nav-list a:hover {
        background-color: var(--background-clr-b);
        color: var(--txt-clr-4);
        border-radius: 10px;
        margin-right: 2rem;
        padding-left: 2rem;
    }
    
    .sub-menu {
        width: 19.5rem;
        margin-left: -2.3rem;
        margin-right: 6rem;
        padding-right: 2rem;
        padding-left: -10rem;
        margin-top: px;
        background: #e5f687;
        transition: none;
    }

    .sub-menu::before {
        content: "";
        position: absolute;
        top: -2.5rem;
        left: 8rem;
        border: 1.2rem solid transparent;
        border-bottom-color: #f60b0b; 
    }

    .sub-menu .subMenu {
        width: 22rem;
        margin-left: -9rem;
        margin-top: -14.3rem;
        padding-right: -18em;
        padding-left: 1em;
        margin-bottom: 8px;
        background: #9f87f6;
        text-align: left;
    }

    .sub-menu .subMenu::before {
        content: "";
        position: absolute;
        top: 13rem;
        left: 3.5rem;
        border: 1.2rem solid transparent;
        /* border-top-color: #f60b94; */
    }

    .sub-menu .subMenu {
        border-top: none;
        border-left: none;
        border-bottom: 4px solid #191919;
        /* left: 160%;  */
        left: 22.5rem;
        border-radius:20px;
    }

    .sub-menu .subMenu-menu {
        width: 20.5rem;
        padding-right: -22em;
        padding-top: 5px;
        padding-bottom: 3px;
        margin-top: -20.5em;
        margin-left: -2rem;
        margin-right: 5px;
        text-align: left;
        background: #f687e5;
    }
    
    .sub-menu .subMenu-menu::before {
        border-bottom: 4px solid #191919;
        border: 1.2rem solid transparent;
        border-left: none; 

    }

    .sub-menu .subMenu-menu {   
        border-top: none;
        border-left: none; 
        border-bottom: 4px solid #191919;
        /* left: 160%;  */
        left: 22.5rem;
        border-radius: 20px;
    }

    li.move-right {
        font-weight: 900; 
        font-size: 3rem;
    }
    
    li.move-right i {
        font-size: 2.2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
}

@media (min-width: 567px) {

    .container-top {
        background-color: #ed87f6;
    }

    .topNav {
        width: 100%;
        align-items: center;
        position: relative;
    }

    .top-bar_content {
        width: 100%;
        margin-bottom: 15px;
    }

    .top-bar_content i {
        width: 100%;
        justify-content: center;
        font-size: 2.5em;
        padding-bottom: 2rem;
    }

    .top-bar_content p {
        display: none;
    }

    .cont-nav {
        background-color: #58ebf0;
    }

    .navbar-brand {
        margin-left: 10px;
    }

    .titleName {
        font-size: var(--fs-5);
        color: var(--txt-clr-3);
    }

    .navbar-toggler {
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-bottom: 35px;
        border: 2px solid #212529;
        box-shadow: 5px 5px #3e8e41;
        max-width: 8em;
        margin: 75px 155px 37.5px 37.5px;
    }

    .navbar-toggler i {
        width: 20px;
        font-size: 2.5rem;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        color: #212529;
        cursor: pointer;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-right: 8rem;
        padding-left: 8rem;
    }

    .nav-list a:hover {
        background-color: var(--background-clr-b);
    background-color: #1eba23;
        color: var(--txt-clr-4);
        border-radius: 10px;
        margin-right: 2rem;
        padding-left: 2rem;
    }
    
    .sub-menu {
        width: 20rem;
        margin-left: -6rem;
        margin-top: -1rem;
    }

    .sub-menu::before {
        left: 15rem;
        border: 1.2rem solid transparent;
        border-bottom-color: #f60b0b;
    }

    .sub-menu .subMenu {
        width: 20rem;
        margin-left: -1rem;
        margin-top: -1.5rem;
    }

    .sub-menu .subMenu::before {
        top: 4rem;
        left: -2.5rem;
        border: 1.2rem solid transparent;
        border-right-color: #260bf6;
    }

    .sub-menu .subMenu {   
        border-top: none;
        border-left: none; 
        border-left: 4px solid #191919;
        /* left: 160%;  */
        left: 22rem;
        border-radius: 20px;
    }

    .sub-menu .subMenu-menu {
        width: 23.5rem;
        margin-left: 2.9rem;
        margin-top: -25.5rem;
    }

    .sub-menu .subMenu-menu::before {
        top: 12rem;
      left: -2.5rem;
        border: 1.2rem solid transparent;
        border-right-color: #0bbff6;
    }

    .sub-menu .subMenu-menu {   
        border-top: none;
        border-left: none; 
        border-left: 4px solid #191919;
        /* left: 160%;  */
        left: 22.5rem;
        border-radius: 20px;
    }

    .arrow ion-icon {
        top: 55%;
    }

    li.move-right {
        font-weight: 900; 
        font-size: 3rem;
    }
    
    li.move-right i {
        font-size: 2.2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }

}

@media (min-width: 1200px) {
    
    .container-top {
        background-color: #1eba23;
    }

    .top-bar_content {
        /* display: flex;
        flex-direction: row;
        align-items: center; */
        justify-content: flex-start;
        width: 100%;
        /* margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 10px; */
        padding-left: 20px;
    }

    .top-bar_content i {
        /* flex-direction: row; */
        font-size: var(--fs-4);
        /* align-items: center;
        color: var(--txt-clr-2);
        margin: auto; */
        padding-top: 10px;
    }
    
    .top-bar_content p {
        display: flex;
        flex-direction: row; 
        font-size: var(--fs-6);
        font-family: var(--ff-1);
        color: var(--txt-clr-2);
        /* align-items: center;
        justify-content: center; */
        padding-left: 10px;
        padding-top: 8px;
        /* padding-bottom: 5px;
        margin-top: 5px; */
    }

    .navbar {
        background-color: var(--background-clr-b);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100%;
        z-index: 1000;
    }

    .cont-nav {
        background-color: var(--background-clr-c);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto 0 auto;
        z-index: 1000;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -4px;
        margin-left: 20px;
    }

    .titleName {
        font-size: var(--fs-5);
        margin-left: 18px;
        color: orange;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0px;
        width: 100%;
    }

    ul.nav-list li {
        line-height: 2rem;
    }

    .navbar-nav .active .nav-link,
    .nav-list a {
        padding: 8px;
    }

    li.move-right i {
        font-size: 1.5em;
    }

    .sub-menu {
        width: 23rem;
        margin-top: 2.5em;
        padding-right: 10px;
    }

    .sub-menu::before {
        left: 17rem;
    }

    .sub-menu .subMenu {
        width: 23rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .sub-menu .subMenu li {
        margin-left: -15px;
    }

    .sub-menu .subMenu::before {
        top: 2.0rem;
        border-right-color: #f687e0;
    }

    .sub-menu .subMenu-menu {
        width: 23rem;
        margin-top: -13.5em;
        margin-left: 1.8rem;
    }

    .sub-menu .subMenu-menu::before {
        top: 10rem;
        border-right-color: #87e4f6;
    }

    .sub-menu .subMenu {
        border-bottom: none;
        border-left: 4px solid #191919;
        border-radius:20px;
    }

    .sub-menu .subMenu-menu {
        border-bottom: none;
        border-left: 4px solid #191919;
        border-radius:20px;
    }

    .arrow ion-icon {
        font-size: 1.8rem;
        top: 70%;
    }
}





@media (min-width: 1400px) {

    .top-bar_content p {
        font-size: 1em;
    }

    .titleName  {
        font-size: var(--fs-4);
        margin-left: 36px;
        color: #d5f158;
    }

    .cont-nav  {

        background-color: #f687e5;
    }

    .nav-list {
        display: flex;
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    ul.nav-list li {
        line-height: 3rem;
        position: relative;
        width: 100%;
    }

    .sub-menu {
        width: 18rem;
        top: 76rem;
        margin-top: 3em;
        margin-left: 0;
        padding-right: 18px;
    }

    .sub-menu::before {
        left: 6rem;
    }

    .sub-menu .subMenu {
        top: 76rem;
        margin-left: -40px;
        padding-right: 20px;
    }

    .arrow ion-icon {
        top: 75%;
    }

}

media (min-width: 1200px) {

    .titleName  {
        font-size: var(--fs-5);
        margin-left: 18px;
        color: orange;
    }

    .navbar-nav {
        padding: 10px;
        line-height: 5px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    nav-list {
        padding-left: 20px;
        padding-right: -20px;
        margin-left: -10px;
        margin-right: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }

    ul.nav-list li {
        line-height: normal;
        word-spacing: normal;
    }

    .navbar-nav .active .nav-link,
    .nav-list a {
        padding: 8px;
    }

    li.move-right i {
        font-size: 1.8em;
    }

    .sub-menu li {
        line-height: 5px;
        padding-left: 10px;
    }

    .sub-menu {
        width: 18rem;
        margin-top: 3.75em;
        padding-right: 10px;
    }

    .sub-menu::before {
        left: 4rem;
    }

    .sub-menu .subMenu li {
        margin-left: -20px;
    }

    .sub-menu .subMenu {
        width: 23rem;
        margin-top: 15px;
    }

    .sub-menu .subMenu::before {
        top: 2.3rem;
        border-right-color: #f687e0;
    }

    .sub-menu .subMenu-menu::before {
        top: 3.75rem;
        border-right-color: #87e4f6;
    }
}

media (max-width: 576px) {

    .top-bar_content i {
        font-size: var(--fs-5);
        margin-right: 15px;
    }

    .top-bar_content p {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }

    .cont-nav  {
        height: fit-content;
        background-color: #9f87f6;
    }

    .titleName  {
        margin-left: -10px;
        height: 20px;
        font-size: 1.5em;
        color: var(--txt-clr-3);
        color: #f60b0b;
    }

    .navbar-toggler {
        max-width: 5rem;
        margin-top: 6em;
        margin-right: 14em;
    }

    .navbar-toggler i {
        width: 15px;
        font-size: 2rem;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        align-items: flex-start;
        margin-left: 8em;
        z-index: 1000;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        z-index: 1000;
        align-content: start;
    }

    .sub-menu {
        width: 20rem;
        margin-left: -9.5rem;
        margin-top: -.5rem;
    }

    .sub-menu .subMenu {
        display: flex;
        flex-direction: column;
        margin-left: -.8em;
        margin-top: -7rem;
    }

    .sub-menu .subMenu-menu {
        width: 23rem;
        margin-left: 1.7em;
        margin-top: -25.5rem;
    }

    .sub-menu::before {
        left: 16rem;
        border: 1.2rem solid transparent;
        border-bottom-color: #f60b0b;
    }

    .sub-menu .subMenu::before {
        top: 10.5rem;
        left: -2.5rem;
        border: 1.2rem solid transparent;
        border-right-color: #f60b94;
    }

    .sub-menu .subMenu-menu::before {

        top: 12rem;
        left: -2.75rem;
        border: 1.2rem solid transparent;
        border-right-color: #0bbff6;
    }

    .arrow ion-icon {
        top: 55%;
    }

}

media (max-width: 480px) {

    .container-top {
        background-color: var(--background-clr-b);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 0px;
        background-color: #ed87f6;
    }


    .top-bar_content {
        width: 100%;
        margin-top: px;
        margin-bottom: 5px;
        padding-top: 0px;
        background: #0bbff6;
        justify-content: center;
    }

    .top-bar_content i {
        font-size: var(--fs-5);
        /* margin-left: 10px;
        margin-right: 45px;
        padding-left: 20px; */
        justify-content: space-around;
    }

    .top-bar_content p {
        display: none;
    }

    .navbar-brand {
        margin-left: 8px;
    }

    .titleName  {
        font-size: var(--fs-6);
        color: var(--txt-clr-3);
    }

    ul.nav-list li {
        line-height: 2.2rem;
        position: relative;
        width: 100%;
        word-spacing: 1.5px;
    }

    .navbar-nav .active .nav-link,
    .nav-list a {
        color: var(--txt-clr-3);
        font-family: var(--ff-1);
        display: block;
        padding: 0 .4rem;
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
        transition: all 650ms ease;
    }

    .navbar-toggler {
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-bottom: 35px;
        border: 2px solid #212529;
        box-shadow: 5px 5px #3e8e41;
        max-width: 8em;
        margin: 75px 155px 37.5px 37.5px;
    }

    .navbar-toggler i {
        width: 20px;
        font-size: 2.5rem;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        color: #212529;
        cursor: pointer;
    }

    .sub-menu {
        width: 20rem;
        margin-left: -10rem;
        margin-top: -1.5rem;
    }

    .sub-menu::before {
        left: 15rem;
        border: 1.2rem solid transparent;
        border-bottom-color: #f60b0b;
    }

    .sub-menu .subMenu {
        width: 20rem;
        margin-left: -1rem;
        margin-top: -1.5rem;
    }

    .sub-menu .subMenu::before {
        top: 2.2rem;
        border: 1.2rem solid transparent;
        border-right-color: #260bf6;
    }

    .sub-menu .subMenu-menu {
        width: 20rem;
        margin-left: 3rem;
        margin-top: -15.5rem;
    }

    .sub-menu .subMenu-menu::before {
        top: 3.4rem;
        border: 1.2rem solid transparent;
        border-right-color: #0bbff6;
    }

    .arrow ion-icon {
        top: 55%;
    }

    .sub-menu .subMenu {
        width: 21.75rem;
    }
}


media (min-width: 375px) {

    .top-bar_content {
        width: 100%;
        background: #3e8e41;
        justify-content: space-around;
    }

    .top-bar_content i {
        justify-content: space-around;
        font-size: var(--fs-6);
    }

    .top-bar_content p {
        display: none;
    }

    .navbar {
        background-color: var(--background-clr-b);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100%;
        z-index: 1000;
    }

    .cont-nav {
        width:100% ;
        padding: 5px;
        background-color: #f48888;
    }

    .titleName  {
        font-size: 1.7rem;
        color: var(--txt-clr-3);
    }

    .navbar-toggler {
        margin: 3em;
    }

    .navbar-toggler {
        align-items: center;
        justify-content: flex-end;
        padding: 8px;
        margin-bottom: 5px;
        border: 2px solid #212529;
        box-shadow: 3px 3px #3e8e41;
        max-width: 3em;
    }

    .navbar-toggler i {
        font-size: 2rem;
        font-weight: 600;
        justify-self: ;
    }

    .navbar-nav .active .nav-link,
    .nav-list a {
        padding: 0px;
        font-size: 9px;
        text-transform: none;
    }

    .sub-menu {
        width: 16rem;
        margin-left: -11rem;
        margin-top: -1.6rem;
        background: #e5f687;
    }

    .sub-menu .subMenu {
        width: 20rem;
        margin-left: -6.8rem;
        line-height: normal;
    }

    .sub-menu .subMenu-menu {
        width: 20rem;
        margin-left: 1.3rem;
        line-height: normal;
    }

    .sub-menu::before {
        content: "";
        position: absolute;
        top: -2.5rem;
        left: 10rem;
        border: 1.2rem solid transparent;
        border-bottom-color: #f60b0b;
    }

    .sub-menu .subMenu::before {
        content: "";
        position: absolute;
        top: 2.5rem;
        left: -2.5rem;
        border: 1.2rem solid transparent;
        border-right-color: #f60b94;
    }

    .sub-menu .subMenu-menu::before {
        content: "";
        position: absolute;
        top: 3.5rem;
        left: -2.6rem;
        border: 1.2rem solid transparent;
        border-right-color: #0bbff6;
    }
}