@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

/* ---------------------------------Special paddings/margins/text */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }

li {
    list-style: none;
  }

  :root {
    --primary-clr: #FFEAE6;
    --background-clr: #fefefe;
    --background-clr-b: #4d4c4b;
    --background-clr-c:#efe3d6;
    --background-clr-d:#212529;


    /* background: linear-gradient(180deg, hsla(31, 51%, 92%, 1) 30%, hsla(26, 31%, 84%, 1) 100%);
    background: linear-gradient(180deg, hsla(31, 44%, 89%, 1) 20%, hsla(26, 31%, 84%, 1) 100%); */
    /* background-color: #F2E9DE; */
    /* background-color: #f4eadf;  */


    --secondary-clr: #232949;

    --txt-clr-1: #212529;
    --txt-clr-2:#F2E9DE;
    --txt-clr-: #191919;
    --txt-clr-3:#232949;
    --txt-clr-4:#fefefe;
    --txt-clr-5:#eee;

    --bg-clr: ;
    --accent-clr: ;

    --container-width:90%;

    --ff-1: Merriweather, sans-serif;
    --ff-2: 'Lato', sans-serif;

  /* font families */
  --ff-base: "IBM Plex Sans", sans-serif;
  --ff-accent: "Young Serif", serif;

    --fw-l: 300;
    --fw-n: 400;
    --fw-m: 500;
    --fw-sb: 600;
    --fw-b: 700;
    --fw-xb: 800;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.3rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-p: 1.5rem;

    --shadow: ;
    --box-shadow-1: 1.5rem 1.5rem 1rem rgba(0, 0, 0, .9);
    --box-shadow-2: 2.5rem 2.5rem 1rem rgba(0, 0, 0, .9);
    --box-shadow-3: 0 5px 35px rgba(0,0,0,0.15);
    --br-1: 25px;
    --br-2: 25%;

    --lh-1: 1.5rem;
    --lh-2: 2rem;
    --line-height-3: 5rem;
}

html {
    scroll-behavior: smooth;
    /* font-size: 10px; */

    font-size: 62.5%;
    /* This % changes the normal base size of 16px to 10px --- 21px = 2.1rem (because 21 x 10 = 2.1rem */
}

body {

    /* height: calc(100vh - 80px);
    min-height: 100vh;
    background-color: #fefefe;
    background: var(--clr-bg);
    background-color: #9096a4; */

    letter-spacing: 1.25px;
    text-align: center;
    /* max-width: 1400px;  */
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

p {
    letter-spacing: 1.25px;
    line-height: 3rem;
    text-align: center;
    /* font-size: clamp(200px, 50%, 20rem);
    font-size: clamp(2rem, 5vw, 5rem);
    font-size: clamp(1rem, 1.25vw, 1.255rem); */
}

/* --------------------------------- Normal Styles */

/* ----- Fixed Top Navbar Section ----- */

.topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.container-top {
    background-color: var(--background-clr-b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5px auto;
    padding: 0;
    max-height: 45px;
    width: 100%;
    background-color: #999B84;
    background-color: #8F917C;
    background-color: #7E806D;
}

.top-bar_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px; 
}

.top-bar_content i {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-5);
    align-items: center;
    justify-content: center;
    color: var(--txt-clr-2); 
}

.top-bar_content p {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-6);
    font-family: var(--ff-1);
    /* font-family: 'Lato', sans-serif; */
    color: var(--txt-clr-2);
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px; 
    margin-right: 15px;
}

/* ----- Logo Section ----- */

.navbar {
    background-color: var(--background-clr-b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    z-index: 1000;
    background-color: #EFE7DA;
    background-color: #7E806D;    
}

.cont-nav {
    background-color: var(--background-clr-c);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color:#EFE7DA ;
    background-color: aquamarine;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 24px;
    margin-left: 20px;
}

.titleName {
    font-family: var(--ff-1);
    font-size: var(--fs-3);
    /* font-weight: var(--fw-xb); */
    color: var(--txt-clr-3);
    max-width: 200px;
    font-style: italic;
    text-align: center;
    margin-top: -20px;
    color: #999B84;
    color: #4d4c4b;
    text-shadow: 1px 1px #4d4c4b;
    text-shadow: 1px 1px #212529;
    text-shadow: 2px 1px #999B84;
    text-shadow: 2px 1px #7E806D;
}

/* ----- Toggle Btn Section ----- */

.navbar-toggler {
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 35px;
    border: 2px solid #212529;
    border: 2px solid #7E806D;
    box-shadow: 5px 5px #3e8e41;
    max-width: 8em;
    margin: 3em;
}

.navbar-toggler i {
    width: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    color: var(--txt-clr-1);
    cursor: pointer;
}

/* ----- Navbar Section ----- */

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1rem;
    z-index: 1000;
    margin: 0px;
    min-height: 8rem;
    transition: all .5s ease-out;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
}

ul.nav-list li {
    line-height: 2.4rem;
    position: relative;
    width: 100%;
}

.navbar-nav .active .nav-link,
.nav-list a {
    color: var(--txt-clr-3);
    font-family: var(--ff-1);
    display: block;
    padding: 0 .6rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 650ms ease;
}

.nav-list .active:hover {
    /* color: var(--txt-clr-4); */
    color: #eee;
    text-shadow: 1px 1px #212529;
}

.nav-list a:hover {
    /* background-color: var(--background-clr-b);
    color: var(--txt-clr-4); */
    color: #f89532;
    text-shadow: 1px 1px #212529;
    border-radius: 10px;
/* background-color: #9f87f6;
background-color: #999B84; */
}

.nav-list a:hover > ion-icon {
    background-color: var(--background-clr-b);
    background-color: #999B84;
    color: var(--txt-clr-4);
    border-radius: 10px;
}

/* ----- Navbar Button Section ----- */

li.btn a {
    display: inline-block;
    align-items: center;
    /* transition: background-color 650ms; */
    padding: .5rem;
}

.btn:hover {
    /* background-color: var(--background-clr-c); */
    border-radius: 5px solid #000;
}

/* ----- Sub-Menus Section ----- */

/* ----- sub-menu ----- */

.sub-menu li {
    line-height: 2.4rem;
    padding-left: 20px;
    margin-left: -20px;
}

.sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #191919;
    background: linear-gradient(45deg, #93938B, #E4E7E4);
    z-index: 1000;
    /* top: 16rem; */
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 2.5em;
    margin-top: 1.8rem; 
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 5rem;
    border: 1rem solid transparent;
    border-bottom-color: #f60b0b;
}

.sub-menu {
    border-left: none;
    border-top: 4px solid #191919;
    border-radius:20px;
}

/* ----- subMenu ----- */

ul.sub-menu .subMenu li {
    line-height: 2.4rem;
    margin-left: -.8em;
} 

.sub-menu .subMenu {
    width: 24rem;
    display: block;
    position: absolute; 
    background: linear-gradient(45deg, #93938B, #E4E7E4);
    background: linear-gradient(45deg, #EDC9AF, #E4E7E4);
    z-index: 1000;
    /* top: 16rem; */
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: .5rem;
    margin-top: .7rem;
}

.sub-menu .subMenu::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: -2.4rem;
    border: 1.2rem solid transparent;
    border-right-color: #1a905d;
}

.sub-menu .subMenu {
    border-top: none;
    border-left: 4px solid #191919;
    /* left: 160%;  */
    left: 22.5rem;
    border-radius:20px;
}

/* ----- subMenu-menu ----- */

ul.sub-menu .subMenu-menu li {
    padding-left: .8rem;
    margin-left: -1rem;
}   

.sub-menu .subMenu-menu {
    width: 23rem;
    display: block;
    position: absolute;
    border-top: 3px solid #191919;
    background: linear-gradient(45deg, #93938B, #E4E7E4);
    background: linear-gradient(45deg, #EDC9AF, #E4E7E4);
    z-index: 1000;
    /* top: 16rem; */
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-left: 3.2rem;
    margin-top: -8.8em;
}

.sub-menu .subMenu-menu::before {
    content: "";
    position: absolute;
    top: 3.4rem;
    left: -2.75rem;
    border: 1.2rem solid transparent;
    border-right-color: #0bbff6;
}

.sub-menu .subMenu-menu {
    border-top: none;
    border-left: 4px solid #191919;
    /* left: 160%; */
    left: 22.5rem;
    border-radius:20px;
}

/* ----- Nav-List - Sub Menus - Hover ----- */

.nav-list li:hover > .sub-menu {
    top: 4rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .sub-menu {
    top: 6rem;
    left: 100%;
}

.sub-menu li:hover > .subMenu {
    top: 4rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .subMenu-menu {
    top: 6rem;
    left: 100%;
}

/* ----- Arrow Icon Section ----- */

.arrow ion-icon {
    color: var(--txt-clr-3);
    font-size: 1.75rem;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow ion-icon:hover {
    color: var(--txt-clr-4);
}

.arrow-forward ion-icon,
.arrow-forward-b ion-icon,
.arrow-c ion-icon {
    color: var(--txt-clr-3);
    font-size: 1.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
    color: #3e8e41;
    color: #999B84;
}

.arrow-forward ion-icon
:hover > .sub-menu, .subMenu, .subMenu-menu {
    color: var(--txt-clr-4);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}

.arrow-forward-b ion-icon
:hover > .subMenu, .subMenu-menu {
    color: var(--txt-clr-2);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
}

.arrow-c ion-icon
:hover > .sub-menu, .subMenu-menu {
    color: var(--txt-clr-2);
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    cursor: pointer;
    z-index: 1000;
}

.sub-menu:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

.sub-menub.sub-menu-a:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

.subMenu:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

.subMenu-menu:hover {
    background-color: var(--background-clr-b);
    border-radius: 20px;
}

li.move-right {
    /* line-height: 1em; */
    line-height: initial;
    font-size: 2rem;
    font-weight: 900;
}

li.move-right i {
    line-height: initial;
    /* font-size: 2rem; */
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}


/* ----- End Navbar Section ----- */


/* ----- Media Queries Navbar Section ----- */

@media (max-width: 992px) {

    .topNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 50px;
    }

    .top-bar_content {
        width: 100%;
        margin-bottom: 15px;
    }

    .top-bar_content i {
        width: 100%;
        justify-content: center;
        font-size: 2em;
    }

    .top-bar_content p {
        display: none;
    }

    .sub-menu::before {
        left: 3rem;
    }

}

@media (max-width: 768px) {

    topNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 50px;
    }

    .container-top {
        background-color: var(--background-clr-b);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0px 10px 10px 0px;
        padding: 0;
        max-height: 45px;
        width: 100%;
        /* background-color: #999B84;
        background-color: #8F917C;
        background-color: #7E806D; */
    }

    .top-bar_content {
        width: 100%;
        margin-bottom: 15px;
    }

    .top-bar_content i {
        width: 100%;
        justify-content: center;
        font-size: 2em;
        padding-right: 100px;
    }

    .top-bar_content p {
        display: none;
    }

    .cont-nav {
        background-color: var(--background-clr-c);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color:#EFE7DA ;
        background-color: aquamarine;
    }

    .titleName {
        font-size: var(--fs-4);
        color: var(--txt-clr-3);
        color: #999B84;
        color: #4d4c4b;
        text-shadow: 1px 1px #4d4c4b;
        text-shadow: 1px 1px #212529;
        text-shadow: 2px 1px #999B84;
        text-shadow: 1px 1px #7E806D;
    }
    
    .navbar-toggler {
        margin: 65px 25em 3px 3px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-right: 16rem;
        padding-top: 10px;
    }

    .nav-list a:hover {
        background-color: var(--background-clr-b);
        background-color: #1eba23;
        color: var(--txt-clr-4);
        border-radius: 10px;
        margin-right: 1rem;
        padding-left: -2rem;
    }

    .sub-menu {
        margin-top: -1rem;
    }
    
    .sub-menu::before {
        left: 8rem;
    }


    .sub-menu .subMenu {
        padding-left: -.5rem;
        margin-top: -2rem;
    }


    .sub-menu .subMenu::before {
        margin-top: 1.5em;
        border: 1.2rem solid transparent;
        border-right-color: #1a905d;
    }

    .sub-menu .subMenu-menu {
        width: 22rem;
        margin-top: -11.5em;
    }

    .sub-menu .subMenu-menu::before {
        top: 8rem;
        left: -2.5rem;
    }
    
    .arrow ion-icon {
        color: var(--txt-clr-3);
        font-size: 1.75rem;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    li.move-right {
        /* line-height: 1em; */
    padding-bottom: 15px;
   
        font-size: 2rem;
        font-weight: 900;
    }

    li.btn a {
        display: inline-block;
        align-items: center;
        transition: background-color 650ms;
    }
    
    .btn:hover {
        background-color: var(--background-clr-c);
        background-color: none;
        border-radius: 25px;
        padding: 2px;
        margin: 4px;
    }
}   

@media (max-width: 480px) { 
    .topNav {
        padding-bottom: 0px;
    }

    .container-top {
        background-color: green;
        width: 100%;
        margin: 0 auto 0px auto;
    }

    .topNav {
        max-width: 100%;
        align-items: center;
        position: relative;
    }

    .top-bar_content {
        width: 100%;
        margin-bottom: 25px;
    }

    .top-bar_content i {
        width: 100%;
        justify-content: center;
        font-size: 2em;
        margin-left: 40px;
    }

    .top-bar_content p {
        display: none;
    }

    .cont-nav {
        background-color: var(--background-clr-c);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color:#EFE7DA ;
        background-color: rgb(245, 66, 203);
    }

    .titleName {
        font-size: var(--fs-5);
        color: var(--txt-clr-3);
        color: #999B84;
        color: #4d4c4b;
        text-shadow: 1px 1px #4d4c4b;
        text-shadow: 1px 1px #212529;
        text-shadow: 2px 1px #999B84;
        text-shadow: 1px 1px #7E806D;

         
            color: #f48888;
    }

    .navbar-toggler {
        margin: 7px 70px 7px 7px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 6rem;
        padding-left: 6rem;
        padding-top: 10px;
    }

    .nav-list a:hover {
        background-color: var(--background-clr-b);
        background-color: #1eba23;
        color: var(--txt-clr-4);
        border-radius: 10px;
        margin-right: 1rem;
        padding-left: -2rem;
    }

    ul.nav-list li {
        line-height: 3rem;
    }

    li.btn a {
        display: inline-block;
        align-items: center;
        /* transition: background-color 650ms; */
        padding: 8px;
        line-height: 8px;
    }

    .sub-menu li {
        padding-left: 10px;
        margin-left: -12px;
        
    }

    .sub-menu {
        width: 20rem;
        margin-top: -.3rem; 
        margin-left: -5rem;
        margin-right: 5rem;
        padding-right: 2rem;
        background: #f687e0 ;
        transition: none;
    }

    .sub-menu::before {
        content: "";
        position: absolute;
        top: -2rem;
        left: 15rem;
        border: 1rem solid transparent;
        border-bottom-color: #f60b0b;
    }

    .sub-menu .subMenu {
        width: 22.5rem;
        margin-left: -.9rem;
    }

    .sub-menu .subMenu-menu {
        margin-left: 4.5rem;
        margin-top: -14.5em;
    }

    li.move-right {
        padding-bottom: 5px;
        font-size: 2rem;
        font-weight: 900;
    }

    li.btn a {
        display: inline-block;
        align-items: center;
        transition: background-color 650ms;
    }
}

/* @media (max-width: 380px) { 
    .container-top {
        margin: 0px;
        padding: 0px;
        background: #f89532;
      
    }
} */